program:zebra
program:staticd
program:bgpd
program:fpmsyncd
{% if DEVICE_METADATA.localhost.frr_mgmt_framework_config is defined and DEVICE_METADATA.localhost.frr_mgmt_framework_config == "true" %}
{% if FRR_DAEMON is not defined or FRR_DAEMON.bfdd is not defined or FRR_DAEMON.bfdd.admin_status is not defined or FRR_DAEMON.bfdd.admin_status != "disabled" %}
program:bfdd
{% endif %}
{% if FRR_DAEMON is not defined or FRR_DAEMON.ospfd is not defined or FRR_DAEMON.ospfd.admin_status is not defined or FRR_DAEMON.ospfd.admin_status != "disabled" %}
program:ospfd
{% endif %}
{% if FRR_DAEMON is not defined or FRR_DAEMON.pimd is not defined or FRR_DAEMON.pimd.admin_status is not defined or FRR_DAEMON.pimd.admin_status != "disabled" %}
program:pimd
{% endif %}
{% if FRR_DAEMON is not defined or FRR_DAEMON.pathd is not defined or FRR_DAEMON.pathd.admin_status is not defined or FRR_DAEMON.pathd.admin_status != "disabled" %}
program:pathd
{% endif %}
program:frrcfgd
{%- else %}
program:bgpcfgd
{%- endif %}
